* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 254, 254);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    min-height: 100vh;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.brand img {
    width: 110px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 760px;
    gap: 35px;
}

.nav-links a {
    font-size: 23px;
    text-decoration: none;
    color: #525151;
    margin-right: 4px;
}

.nav-links span {
    margin-left: -27px;
}

.authorization {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 30px;
}

.authorization button{
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
}

.authorization button:hover {
    color: black;
}

.authorization button:last-child {
  border: 1px solid #555;
  padding: 10px 18px;
  border-radius: 12px;
}

.authorization button:last-child:hover{
    background-color: aqua;
}


main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 250px;
  margin-top: 90px;
  height: 100%;
}

.left-content {
  max-width: 520px;
}

.left-content h1 {
  font-size: 84px;
  line-height: 0.9;
  margin-bottom: 60px;
}

.left-content p {
  color: #666;
  font-size: 26px;
  line-height: 1.2;
  max-width: 590px;
  margin-bottom: 60px;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 18px 50px;
  border-radius: 14px;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
    background-color: aqua;
    color: rgb(8, 7, 7);
}

.clients-list {
  display: flex;
  align-items: center;
  margin-top: 140px;
  gap: 30px;
}

.client {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
  margin-bottom: 50px;
}

.right img {
  max-width: 550px;
  width: 100%;
  height: auto;
}

